[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "~=2.0"
rpi-bme280 = "~=0.0"
"w1thermsensor[async]" = "~=2.0"
gpiozero = "~=2.0"
aiohttp = "~=3.0"
tenacity = "~=9.0"
python-socketio = { extras = ["client"], version = "~=5.0" }
opentelemetry-api = "~=1.0"
opentelemetry-sdk = "~=1.0"
opentelemetry-semantic-conventions = "*"
opentelemetry-exporter-otlp-proto-http = "~=1.0"
opentelemetry-instrumentation-aiohttp-client = "*"
opentelemetry-instrumentation-asyncio = "*"
opentelemetry-instrumentation-logging = "*"

[dev-packages]
black = "~=24.0"
flake8 = "~=7.0"
pre-commit = "~=4.0"

[requires]
python_version = "3.13"
