[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorlog = "~=6.0"
requests = "~=2.0"
"rpi.bme280" = "~=0.0"
w1thermsensor = "~=2.0"
gpiozero = "~=2.0"

[dev-packages]
black = "~=24.0"
flake8 = "~=7.0"
pre-commit = "~=4.0"

[requires]
python_version = "3.12"
